QWidget[name="main"] {
    background-color:rgba(28,28,28,20%);

}

VButton {

    margin:1px;
    padding:0px;
    border-style: outset;
    border-radius: 5px;
    border-width: 1px;
    
    font-size:18px;
    font-weight:bold;
    color: #ffffff;
    
}

VButton:pressed {
    
    border-style: inset;
}
VButton:checked {
    
    border-style: inset;
    border-width:2px;
}
VButton:hover {
    border-width:2px;
}

VButton[colorGroup="normal"] {
    border-color: #7c7c7c;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #7c7c7c, stop: 1 #555555);
}
VButton[colorGroup="system"] {
    border-color: #404040;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #404040, stop: 1 #222222);
}
VButton[colorGroup="application"] {
    border-color: #404040;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #404040, stop: 1 #222222);
    color: #00c2ff;
}
VButton[colorGroup="function"] {
    border-color: #404040;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #404040, stop: 1 #222222);
    color: #00c2ff;
}
VButton[colorGroup="enter"] {
    border-color: #404040;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #404040, stop: 1 #222222);
    color: #00c2ff;
}
VButton[colorGroup="cursor"] {
    border-color: #404040;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #404040, stop: 1 #222222);
}
VButton[colorGroup="other"] {
    border-color: #7c7c7c;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #7c7c7c, stop: 1 #555555);
}
VButton[colorGroup="numeric"] {
    border-color: #7c7c7c;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #7c7c7c, stop: 1 #555555);
}
VButton[action="toggleExtension"] {
  background-color:gray;
  border-color: gray;
}
VButton[action="toggleVisibility"] {
  background-color:red;
  border-color:red;
}
VButton[colorGroup="nextLayout"] {
  background-color:none;
  border:none;
}
