[Desktop Entry]
Name=Qtvkbd
Name[ast]=Qtvkbd
Name[bs]=Qtvkbd
Name[cs]=Qtvkbd
Name[de]=Qtvkbd
Name[es]=Qtvkbd
Name[fi]=Qtvkbd
Name[gl]=Qtvkbd
Name[hu]=Qtvkbd
Name[nl]=Qtvkbd
Name[pl]=Qtvkbd
Name[pt]=Qtvkbd
Name[pt_BR]=Qtvkbd
Name[sk]=Qtvkbd
Name[sv]=Qtvkbd
Name[uk]=Qtvkbd
Name[x-test]=xxQtvkbdxx
Exec=qtvkbd
Icon=preferences-desktop-keyboard
Type=Application
Comment=A virtual keyboard
Comment[bs]=Virtuelna tastatura za KDE
Comment[cs]=Virtuální klávesnice pro KDE
Comment[de]=Eine virtuelle Tastatur für KDE
Comment[es]=Un teclado virtual para KDE
Comment[fi]=KDE:n virtuaalinäppäimistö
Comment[gl]=Un teclado virtual para KDE.
Comment[hu]=Virtuális billentyűzet a KDE-hez
Comment[nl]=Een virtueel toetsenbord voor KDE
Comment[pl]=Wirtualna klawiatura dla KDE
Comment[pt]=Um teclado virtual para o KDE
Comment[pt_BR]=Um teclado virtual para o KDE
Comment[sk]=Virtuálna klávesnica pre KDE
Comment[sv]=Ett virtuellt tangentbord för KDE
Comment[uk]=Віртуальна клавіатура для KDE
Comment[x-test]=xxA virtual keyboard for KDExx
GenericName=Virtual Keyboard
GenericName[bs]=Virtuelna tastatura
GenericName[cs]=Virtuální klávesnice
GenericName[de]=Virtuelle Tastatur
GenericName[es]=Teclado virtual
GenericName[fi]=Virtuaalinäppäimistö
GenericName[gl]=Teclado virtual
GenericName[hu]=Virtuális billentyűzet
GenericName[nl]=Virtueel toetsenbord
GenericName[pl]=Wirtualna klawiatura
GenericName[pt]=Teclado Virtual
GenericName[pt_BR]=Teclado virtual
GenericName[sk]=Virtuálna klávesnica
GenericName[sv]=Virtuellt tangentbord
GenericName[uk]=Віртуальна клавіатура
GenericName[x-test]=xxVirtual Keyboardxx
Categories=Qt;KDE;Utility;Accessibility;
Terminal=false

